:root {
    --white: #EFFBFC;
    --black: #122E3A;
    --red: #D96277;
    --darkRed: #bc5367;
    --lightBlue: #B4E5ED;
    --blue: #50B9CE;
    --darkBlue: #257B95;
    --green: #49BF8F;
    --darkGreen: #41af83;
}

html, body, app-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--lightBlue);
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
}

footer{
    margin-top: auto;
}

.btn-danger {
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red);
    margin-top: 10px;
}

.btn-danger:hover {
    background-color: var(--darkRed);
    border-color: var(--darkRed);
}

.btn-light {
    background-color: var(--white);
    color: var(--black);
    border-color: var(--white);
}

.btn-light:hover {
    background-color: #c7d5d6;
    border-color: #c7d5d6;
}

.btn-primary {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
}

.btn-primary:hover {
    background-color: var(--darkBlue);
    border-color: var(--darkBlue);
}

.btn-submit {
    background-color: var(--green);
    color: var(--white);   
}

.btn-submit:hover {
    background-color: var(--darkGreen);
}

.btn-secondary {
    background-color: var(--black);
    color: var(--white);
}