:root {
    --white: #EFFBFC;
    --black: #122E3A;
    --red: #D96277;
    --darkRed: #bc5367;
    --lightBlue: #B4E5ED;
    --blue: #50B9CE;
    --darkBlue: #257B95;
    --green: #49BF8F;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
}

.btn-danger {
    background-color: var(--red) !important;
    color: var(--white) !important;
    margin-top: 10px;
    transition: transform 0.5s ease;
}