<div class="flightDiv">
    <div>
        <h4>{{ flight.airplane.name }}</h4>
        <p>{{ flight.airplane.seats-flight.users_count }}/{{ flight.airplane.seats }} available seats</p>
    </div>

    <div class="flightRoute">
        <p>{{ flight.departure.name }}</p>
        <img src="routePlane.png" alt="Flying plane" width="250px">
        <p>{{ flight.arrival.name }}</p>
    </div>
    
    <div>
        <p>{{ flight.date }}</p>
        <p>{{ flight.price }}€</p>
    </div>

    <div (click)="booked(flight.id)" style="cursor: pointer;" *ngIf="!isAdmin">
        <button *ngIf="!isBooked" [disabled]="disabled" class="btn btn-light">Book flight</button>
        <button *ngIf="isBooked" [disabled]="disabled" class="btn btn-danger">Cancel</button>
    </div>

    <div class="adminTools" *ngIf="isAdmin">
        <a [routerLink]="['/flight-detail', flight.id]">
            <i class="fa-solid fa-circle-info"></i>
        </a>
        <a [routerLink]="['/edit-flight', flight.id]">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <div (click)="deleteFlight(flight.id)" style="cursor: pointer;"><i class="fa-solid fa-trash" ></i></div>
    </div>
</div>