.flightDiv {
    background-color: var(--darkBlue);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    border-radius: 15px;
    font-weight: 600;
    font-size: larger;
    transition: all 0.8s ease;
    transition-property: transform, box-shadow;
}

.flightDiv:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 0px rgba(80,185,206,1);
}

.flightRoute {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.adminTools {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.adminTools > i {
    transition: transform 0.8s ease;
}

.adminTools > i:hover {
    transform: scale(1.05);
}