<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h4 class="card-title">{{ airplane.name }}</h4>
      <p class="card-text">{{ airplane.seats }} seats</p>
      
      <div class="adminTools">
        <a [routerLink]="['/edit-airplane', airplane.id]">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <div (click)="deleteAirplane(airplane.id)" style="cursor: pointer;">
          <i class="fa-solid fa-trash" ></i>
        </div>
      </div>
    </div>
</div>