.adminTools {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font-size: x-large;
}

.card {
    background-color: var(--darkBlue);
    color: var(--white);
    transition: all 0.8s ease;
    transition-property: transform, box-shadow;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px 0px rgba(80,185,206,1);
}