<div class="container mt-5">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (submit)="submit()">

        <div class="alert alert-danger" [hidden]="!error">{{error}}</div>
        <div class="alert alert-success" [hidden]="!success">{{success}}</div>

        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" formControlName="name" class="form-control" id="name">
            <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
                  class="text-danger">
                  Name is required
              </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" formControlName="email" class="form-control" id="email">
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                class="text-danger">
                Email is required
            </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" formControlName="password" class="form-control" id="password">
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                class="text-danger">
                Password is required and min 8 characters
            </div>
        </div>

        <div class="actionButtons">
            <button type="submit" class="btn btn-submit">Confirm</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>

        <div class="text-center m-3">
            <a [routerLink]="['/login']">Already have an account? Log in here</a>
        </div>
    </form>
</div>