<div>
    <div class="d-flex justify-content-center align-items-center">
        <app-loader *ngIf="!hasLoaded; else flightsPage"></app-loader>
    </div>
    <ng-template #flightsPage>
        <div class="d-flex flex-column align-items-center container">
            <div class="mt-5 filterAndButton">
                <app-flights-filter (filteredFlightsEvent)="filterFlights($event)"></app-flights-filter>
                
                <a [routerLink]="['/oldFlights']">
                    <button type="button" class="btn btn-primary">Old flights</button>
                </a>
                <a [routerLink]="['']" *ngIf="isAdmin">
                    <button type="button" class="btn btn-submit">New flight</button>
                </a>
            </div>

            <h2 class="mt-5">Flights</h2>
            
            <div class="mt-2 container">
                <ng-container *ngIf="flightsList.length > 0; else noFlights">
                    <app-flight-card
                        *ngFor="let flight of flightsList"
                        [flight]="flight"
                        [isAdmin]="isAdmin"
                        [isBooked]="bookedFlightsList.includes((flight.id).toString())"
                        (flightBooked)="setBooking($event)"
                    ></app-flight-card>
                </ng-container>
                
                <ng-template #noFlights>
                    <h3>
                        No flights.
                    </h3>
                </ng-template>
            </div>
        </div>
    </ng-template>
</div>
