<header>
    <div class="title">
        <a [routerLink]="['/home']">
            <h1>Altavia</h1>
            <img src="altavialogo.png" alt="Altavia Airlines Logo" width="60px">
            <h1>Airlines</h1>
        </a>
    </div>

    <nav>
        <ul>
            <li><a [routerLink]="['/flights']">Flights</a></li>
            <div class="authHeader" *ngIf="!loggedIn">
                <li><a [routerLink]="['/login']">Log in</a></li>
                <li><a [routerLink]="['/register']">Register</a></li>
            </div>
            <div class="authHeader" *ngIf="loggedIn">
                <li *ngIf="!isAdmin"><a [routerLink]="['/my-bookings']">My bookings</a></li>
                <li *ngIf="isAdmin"><a [routerLink]="['/airplanes']">Airplanes</a></li>
                <li (click)="logout()" class="cursor-pointer">Log out</li>
            </div>
        </ul>
    </nav>
</header>